:root{
    --title-color: #000000;
    --text-color: #71717A;
    --text-hover-color: #7e7e8d;
    --background-color-first: #fff;
    --background-color-second: #FAFAFA;
    --hero-background-color: #989898;
    --btn-color: #18181B;
    --hover-btn-color: #212125;
    --btn-text-color: #fff;
    --box-shadow-color: #3b3b3b;
}