.hero {
    padding: 15px 0;
    margin-bottom: 30px;
}


.hero__div {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.hero__title {
    color: #18181B;
    font-size: 55px;
    font-weight: 600;
    line-height: 100%;
}


.hero__text {
    font-size: 20px;
}


.hero__btn {
    width: 85%;
    font-size: 20px;
    font-weight: 600;
    color: var(--btn-text-color);
    background-color: var(--btn-color);
    padding: 15px 30px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: background-color 0.3s ease;
    margin-bottom: 15px;
}


.hero__btn:hover,
.hero__btn:focus {
    background-color: var(--hover-btn-color);
}



.hero__btn__svg {
    width: 25px;
    height: 25px;
    fill: var(--btn-text-color);
}


.hero__img {
    width: 100%;
    border-radius: 10px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: filter 1s ease, -webkit-filter 1s ease;
}


.hero__img:hover,
.hero__img:focus {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}


@media screen and (min-width: 768px) {
    .hero :global(.container) {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .hero__div {
        width: 300px;
    }

    .hero__btn {
        width: 250px
    }


    .hero__img {
        width: 400px;
    }
}


@media screen and (min-width: 1200px) {
    .hero :global(.container) {
        display: flex;
        justify-content: space-around;
    }


    .hero__div {
        width: 300px;
    }
}